@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Mona Sans", sans-serif;
  font-size: 15px;
  scroll-behavior: smooth;
  // height: 100%;
  background-color: #f3f2f0;
  color: #8f8f8f;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 5s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

@config "../../tailwind.config.js";
