@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Mona Sans", sans-serif;
  font-size: 16px;
  height: 100%;
  background-color: #f3f2f0;
  color: #717171;
}

@config "../../tailwind.config.js";
